**/build
**/.android
**/.idea
**/.lldb
**/.cxx
**/.cache
**/.gradle
/bin-tool/Output
/bin-tool/Input/PNG
/exe/*/*.log
/exe/*/*-shared
/exe/*/*.so
/exe/*/*.so.*
/exe/*/*.exe
/exe/*/*.dll
/Local
log.txt
exe/gl/FromBonesUbuntu22.04Gl-static
exe/gl/numclients.txt
exe/vk/FromBonesUbuntu22.04Vk-static
