**/build/*
**/.android
**/.idea
**/.lldb
**/.cxx
**/.cache
**/.gradle
**/tmp-*/
/bin-tool/Output
/bin-tool/Input
/bin-tool/TexturePacker
/bin-tool/SpirvShaderPacker
/bin/FromBones*
/exe/*/*.log
/exe/*/*-shared
/exe/*/*.so
/exe/*/*.so.*
/exe/*/*.exe
/exe/*/*.dll
/Local
log.txt
exe/gl/FromBonesUbuntu22.04Gl-static*
exe/gl/numclients.txt
exe/vk/FromBonesUbuntu22.04Vk-static*
*.workspace
*.workspace.layout

.codelite
.gradle
.android
/script/bake
/script/archive
/script/zipper

/app/keystore
/app/*.keystore
keystore.properties
app/google*

restorelinks
/test
exe/gl/FromBones

# cmake compile commands for clang
/compile_commands.json
